@font-face {font-family: "iconfont";
 src: url('~@/static/iconfont/iconfont.ttf');

 /*  src: url('https://at.alicdn.com/t/font_1980212_hpqhyq9d6l.eot');
   src: url('https://at.alicdn.com/t/font_1980212_hpqhyq9d6l.eot?#iefix') format('embedded-opentype'),
   url('https://at.alicdn.com/t/font_1980212_hpqhyq9d6l.woff2') format('woff2'),
   url('https://at.alicdn.com/t/font_1980212_hpqhyq9d6l.woff') format('woff'),
   url('https://at.alicdn.com/t/font_1980212_hpqhyq9d6l.ttf') format('truetype'),
   url('https://at.alicdn.com/t/font_1980212_hpqhyq9d6l.svg#iconfont') format('svg');
 */

}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 72rpx;
  font-style: normal;
  color: #218bff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcheliangjilu:before {
  content: "\e602";
}

.iconcheliangjilu1:before {
  content: "\e603";
}

.iconwofenpeiderenwu:before {
  content: "\e62e";
}

.iconrenwufenpei:before {
  content: "\e634";
}

.iconjiancharenwufenpei:before {
  content: "\e624";
}

.iconcheliangguihuan:before {
  content: "\e81e";
}

.iconfenpeigeiwo:before {
  content: "\e648";
}

.iconfenpeigeiwo1:before {
  content: "\e662";
}

.iconcheliangguihuanshenqing:before {
  content: "\e62f";
}

.iconyongzhang:before {
  content: "\e6bc";
}

.iconqiche:before {
  content: "\e601";
}

.icondaiwoshenpi:before {
  content: "\ea6d";
}

.iconxiaoxizhihuiwo:before {
  content: "\e64b";
}

.iconquxiao:before {
  content: "\e61b";
}

.iconjieshu:before {
  content: "\e60d";
}

.iconshenpizhongxin:before {
  content: "\e723";
}

.icondaiwoshenpidedanju:before {
  content: "\e611";
}

.iconshenpiwancheng:before {
  content: "\e631";
}

.iconjiaban1:before {
  content: "\e612";
}

.iconjiaban:before {
  content: "\e66d";
}

.icondai:before {
  content: "\e61a";
}

.iconqingjia:before {
  content: "\e61d";
}

.iconyuangongtiaoxiujilu:before {
  content: "\e64a";
}

.iconshenhe:before {
  content: "\e69e";
}

.iconshenqingbaoxiao:before {
  content: "\e635";
}

.iconputongbaoxiao:before {
  content: "\e60b";
}

.iconjixiaokaohe:before {
  content: "\e608";
}

.iconhuaban:before {
  content: "\e661";
}

.iconjixiao:before {
  content: "\e60a";
}

.iconhaiyun:before {
  content: "\e633";
}

.iconzizhizhengshu:before {
  content: "\e66c";
}

.iconcaigou:before {
  content: "\e606";
}

.iconwaichuchucha:before {
  content: "\e657";
}

.iconjiekuan:before {
  content: "\e61e";
}

.iconjiabanshenhe:before {
  content: "\e620";
}

.iconkaoqinjiaban:before {
  content: "\e625";
}

.iconqingjiashenhe:before {
  content: "\e62a";
}

.iconyunshu-:before {
  content: "\ee72";
}

.iconchuchashenqingshenpiliucheng:before {
  content: "\e65f";
}

.icontubiaozhizuomoban:before {
  content: "\e636";
}

.iconwaichushenqing:before {
  content: "\e60c";
}

.iconqingxiujiashenqing:before {
  content: "\e6bb";
}

.iconguanliyuan:before {
  content: "\e600";
}

.iconrenwu1:before {
  content: "\e62b";
}

.iconchuqin:before {
  content: "\e686";
}

.iconziyuan206:before {
  content: "\e721";
}

.iconxiaoqiche:before {
  content: "\e74f";
}

.iconyinzhang:before {
  content: "\e733";
}

.icondiannaobangong:before {
  content: "\e646";
}

.iconmeeting-huiyi:before {
  content: "\e61c";
}

.iconshengchan:before {
  content: "\e619";
}
.iconsaoyisao1:before {
  content: "\e639";
}

.iconsaoyisao:before {
  content: "\e731";
}

.iconico:before {
  content: "\e604";
}

.iconico1:before {
  content: "\e605";
}

.iconsaoma1:before {
  content: "\e607";
}
.iconxiabandaqia:before {
  content: "\e75e";
}

.iconshangbandaqia:before {
  content: "\e75f";
}

.iconshangbandakashijianduan:before {
  content: "\e7ab";
}

.iconxiabandakashijianduan:before {
  content: "\e7ac";
}
.iconicon-technology-vidicon:before {
  content: "\e6a4";
}

.iconjiankong:before {
  content: "\e7b5";
}
.iconbuqiashenqing:before {
  content: "\e645";
}
.iconfaqitoupiao-l:before {
  content: "\e80a";
}

.icontoupiao:before {
  content: "\e609";
}

.icontoupiao1:before {
  content: "\e60e";
}

.iconadd-fill:before {
  content: "\e60f";
}

.iconicon-chaxun:before {
  content: "\e632";
}

.iconchaxun:before {
  content: "\e613";
}

.icon-gdzc:before {
  content: "\e621";
}

.icon-dzyh:before {
  content: "\e65d";
}
.iconsap:before {
  content: "\ec8b";
}
.iconzhushuju:before {
  content: "\e65e";
}
.iconcaigou1:before {
  content: "\e6ff";
}
.iconqinggou1:before {
  content: "\e63b";
}

.iconyitongguo:before {
  content: "\e616";
}
.iconyichexiao:before {
  content: "\e615";
}
.iconshenhezhong:before {
  content: "\e627";
}
.iconyijujue:before {
  content: "\e614";
}
.iconim:before {
  content: "\e6b0";
}

.iconbom:before {
  content: "\e8a8";
}
.icondiannao:before {
  content: "\e773";
}

.iconxz:before {
  content: "\e697";
}



.iconsbgjj:before {
  content: "\e617";
}
.icongdzccl:before {
  content: "\e61f";
}

.iconwodetiaoxiujia:before {
  content: "\e630";
}

.iconqinggoudanguanli:before {
  content: "\e711";
}

.iconqinggoudan:before {
  content: "\e712";
}

.iconwodeqingjiajilu:before {
  content: "\e692";
}

.iconqingjiajilu:before {
  content: "\e699";
}

.iconwodejiabanxinxi:before {
  content: "\e637";
}
.icondaka:before {
  content: "\e618";
}
.icontoupiao2:before {
  content: "\e85d";
}

.iconzichanzhuanyi:before {
  content: "\e660";
}
.icontou:before {
  content: "\e690";
}

.iconrijihua:before {
  content: "\e628";
}

.iconjian:before {
  content: "\e67c";
}

.iconyanshou:before {
  content: "\e622";
}
.icontuihui:before {
  content: "\e724";
}

.icontuihui2:before {
  content: "\e88c";
}

.iconvistor:before {
  content: "\e696";
}

.iconvistor2:before {
  content: "\e63c";
}
.iconlingliao:before {
  content: "\e7f4";
}
.iconshebao:before {
  content: "\e642";
}


.iconzhuanzheng2:before {
  content: "\e6c1";
}

.iconling:before {
  content: "\e649";
}

.iconlizhi:before {
  content: "\e672";
}

.iconzhuanzheng:before {
  content: "\e6cd";
}

.iconzhaopin:before {
  content: "\e647";
}

.icontiaohuan:before {
  content: "\e6c3";
}
.iconling:before {
  content: "\e649";
}

.iconyinshi:before {
  content: "\e64c";
}

.iconshangbao:before {
  content: "\e64d";
}

.iconyituihui1:before {
  content: "\e6f2";
}
